fpga/*.rpt*
fpga/*.bak*
fpga/*.tcl*

fpga/output_files/*
fpga/simulation/*
fpga/db/*
fpga/greybox_tmp/*
fpga/hc_output/*
fpga/hps_isw_handoff/*
fpga/incremental_db/*
fpga/.qsys_edit
fpga/lab3/*
fpga/*~
fpga/*.html
fpga/*.xml
fpga/*.txt
fpga/*.ddb
fpga/*.qws
fpga/*.csv
fpga/*.bsf
fpga/*.cmp
fpga/*.spd
fpga/*.sopcinfo
fpga/*.qf
